################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BabaIsStuck/.vs/BabaIsStuck/v16/Server/sqlite3
/BabaIsStuck/BabaIsStuck/bin/Debug
/BabaIsStuck/BabaIsStuck/obj/Debug
/BabaIsStuck/.vs/BabaIsStuck/v16
